### Идентификатор платформы
CONFIG_VENDOR=TPLINK
CONFIG_PRODUCT=MT7628
CONFIG_FIRMWARE_PRODUCT_ID="TL_WR841N-V13"
CONFIG_FIRMWARE_WIFI2_DRIVER=4.0

### Максимальное сжатие (ОБЯЗАТЕЛЬНО для 8 МБ)
CONFIG_CC_OPTIMIZE_FOR_SIZE=y

### Сеть, Ускорение и Память
CONFIG_FIRMWARE_ENABLE_IPV6=y
CONFIG_FIRMWARE_INCLUDE_SHORTCUT_FE=y
CONFIG_FIRMWARE_INCLUDE_IPSET=y
CONFIG_FIRMWARE_ENABLE_DNSMASQ_REGEX=y
CONFIG_FIRMWARE_INCLUDE_ZRAM=y

### Безопасность, SSH, HTTPS
CONFIG_FIRMWARE_INCLUDE_DROPBEAR=y
CONFIG_FIRMWARE_INCLUDE_DROPBEAR_FAST_CODE=y
CONFIG_FIRMWARE_INCLUDE_HTTPS=y
CONFIG_FIRMWARE_INCLUDE_OPENSSL_EC=y
CONFIG_FIRMWARE_INCLUDE_DDNS_SSL=y
CONFIG_FIRMWARE_INCLUDE_CURL=y

### Современный Wi-Fi (включает поддержку WPA3)
CONFIG_FIRMWARE_INCLUDE_WPAD=y

### VPN (Только то, что нужно для Zaborona)
CONFIG_FIRMWARE_INCLUDE_OPENVPN=y
CONFIG_FIRMWARE_INCLUDE_WIREGUARD=y
CONFIG_FIRMWARE_INCLUDE_AMNEZIAWG=n

### Обход блокировок (Шифрование DNS)
CONFIG_FIRMWARE_INCLUDE_STUBBY=y
CONFIG_FIRMWARE_INCLUDE_DOH=n
CONFIG_FIRMWARE_INCLUDE_QUIC=n
CONFIG_FIRMWARE_INCLUDE_ZAPRET=n
CONFIG_FIRMWARE_INCLUDE_ZAPRET2=n

### Локализация
CONFIG_FIRMWARE_INCLUDE_LANG_RU=y

### ЖЕСТКАЯ ОЧИСТКА МУСОРА (чтобы влезть в 8 МБ)
CONFIG_FIRMWARE_INCLUDE_OPENSSL_EXE=n
CONFIG_FIRMWARE_INCLUDE_EAP_PEAP=n
CONFIG_FIRMWARE_INCLUDE_SFTP=n
CONFIG_FIRMWARE_INCLUDE_EOIP=n
CONFIG_FIRMWARE_INCLUDE_RPL2TP=n
CONFIG_FIRMWARE_INCLUDE_XUPNPD=n
CONFIG_FIRMWARE_INCLUDE_VENDOR_LOGO=n
